body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: left;
}

.loader {
  display: none;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid mediumpurple;
  border-radius: 50%;

}



.breed-select {
  display: block;
  /* margin: 20px auto; */
  padding: 10px;
  font-size: 18px;
  border-color: black;
}

.cat-info {
  display: none;
  margin-top: 20px;
  text-align: left;
}

.cat-info img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}


.cat-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.error {
  display: none;
  color: red;
  text-align: center;
  margin-top: 20px;
}
